<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Production orders demo</title>
    <link rel="stylesheet" href="/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">
</head>
<body class="bg-body">
<div class="container">
    <p>This is a demo of the application to serve the production orders. The main goal is show how you can do the
        production order where
        there are a few, different output products.</p>
    <div class="container column">
        <a href="/orders" class="d-block">List of the production orders</a>
        <a href="/materials" class="d-block">List of materials</a>
        <a href="/measure-units" class="d-block">Measure units</a>
    </div>
</div>
</body>
</html>