<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Order</title>
    <link rel="stylesheet" href="/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">
</head>
<body class="bg-body">
<div class="container">
    <a href="/orders">the production orders list</a>
    <h1>Order</h1>
    <form action="#"
          th:action="@{/orders/save}"
          th:object="${productionOrder}"
          method="post">
        <div class="mb-3 row">
            <label for="id" class="col-sm-2 form-label">id</label>
            <div class="col-sm-10">
                <input type="text" th:field="*{id}" id="id" placeholder="id" readonly>
            </div>
        </div>

        <div class="mb-3 row">
            <label for="name" class="form-label col-sm-2">number</label>
            <div class="col-sm-10">
                <input type="text" th:field="*{number}" id="name" placeholder="Name">
            </div>
        </div>
        <input type="submit" value="save" class="btn btn-primary">
    </form>
</div>
</body>
</html>