<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Measure Unit</title>
    <link rel="stylesheet" href="/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">
</head>
<body class="bg-body">
<div class="container">
    <a href="/measure-units">back to the list</a>
    <h1>Measure unit</h1>
    <form action="#"
          th:action="@{/measure-units/save}"
          th:object="${measureUnit}"
          method="post">
        <div class="mb-3 row">
            <label for="id" class="col-sm-2 form-label">id</label>
            <div class="col-sm-10">
                <input type="text" th:field="*{id}" id="id" placeholder="id" readonly>
            </div>
        </div>

        <div class="mb-3 row">
            <label for="name" class="form-label col-sm-2">name</label>
            <div class="col-sm-10">
                <input type="text" th:field="*{name}" id="name" placeholder="Name">
            </div>
        </div>
        <input type="submit" value="save" class="btn btn-primary">
    </form>
</div>
</body>
</html>